My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LCuW28QBZJH-9jvL1gqFGo2mwIfonp-c",
          "mode": "list",
          "cachedResultName": "AiAssistant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LCuW28QBZJH-9jvL1gqFGo2mwIfonp-c"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8ce34a3-e514-4c51-9200-4b4d9347b5f3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CDOc2Ljqz6nxOVHY",
          "name": "DaliPlan"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "6265c653-36ba-4988-bb9d-08ab7a2f9582",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CDOc2Ljqz6nxOVHY",
          "name": "DaliPlan"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        384,
        0
      ],
      "id": "5f7e0f23-0a41-4b48-8d92-41f02098f83d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IOXxMweGnmzl0vvy",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        208
      ],
      "id": "aa9a91ae-744e-4594-a9e8-d044518c229e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        416
      ],
      "id": "13c61956-c59d-496e-aa77-44ebf6ba4607",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "98f3a8ec-cbde-4b2f-bdfa-d7580420d5ea",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "cxdI1HjQ7njhRxre",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -528
      ],
      "id": "bc4409e2-0a2c-41e0-9986-7de0befda11f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ca54UiOkliUj4X0s",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}{{ $json.headers.subject }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support Category ",
              "description": "=Label as CUSTOMER_SUPPORT if email contains ALL of these:\n\n1. ✓ Has a question (ends with \"?\")\n\n2. ✓ About our services/products (AI, automation, API, pricing, integration, etc.)\n\n3. ✓ Needs help or information\n\nKey phrases: help, support, issue, error, \"how do\", \"can you\", problem \nTech context: API, SDK, integration, pricing, security, deployment\n\nExamples that GO HERE:\n\n- \"What are your API rate limits?\"\n\n- \"How do I integrate your service?\"\n\n- \"Getting error 401, need help\"\n\nExamples that DON'T:\n\n- Newsletters or announcements\n\n- Internal team discussions\n\n- Sales pitches without questions\n"
            },
            {
              "category": "Other Category ",
              "description": "any email that is not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        128,
        -528
      ],
      "id": "ffbad91f-3a79-4bc6-afc5-8ca34166f686",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        -352
      ],
      "id": "12605411-9a9e-4723-93c2-6b522509ea6c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cxdI1HjQ7njhRxre",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are Dali , AI Automations support agent. Help customers with their technical questions.\n\nIMPORTANT: Always use the \"Search company knowledge base\" tool FIRST before answering any question.\n\nSTEPS:\n\n1. Search the knowledge base for relevant information\n\n2. If found → provide detailed answer using that information\n\n3. If not found → say \"I couldn't find that in our documentation. Let me connect you with our technical team.\"\n\nNever answer without searching first.\n\nCORE RULES:\n\n- Only answer using information from the knowledge base\n\n- If info isn't in knowledge base + offer to connect with technical team\n\n- Never make up information\n\nWHEN YOU HAVE THE ANSWER:\n\n- Give complete, accurate responses\n\n- Reference specific details\n\n- Suggest related resources\n\nWHEN YOU DON'T:\n\n- Say: \"I don't have that information in my current resources\"\n\n- Offer: \"Let me connect you with our technical team\"\n\nTONE: Friendly, professional, helpful (1-2 emojis OK\n🤖）\n\nSIGNATURE: Always end with:\n\n\"Best regards,\n\nDali from AI Automations 🤖\" "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        -768
      ],
      "id": "dfbde309-8491-4769-a184-d7bb0a979158",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        -560
      ],
      "id": "09285125-fb26-4bfb-837b-ad42f585ce23",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "cxdI1HjQ7njhRxre",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data in your supabase vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        896,
        -576
      ],
      "id": "a53e0308-8199-4535-b347-6818b5a617eb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "IOXxMweGnmzl0vvy",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        -400
      ],
      "id": "3ac83211-24aa-4c4b-9b69-b70d08db9341",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "cxdI1HjQ7njhRxre",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        -768
      ],
      "id": "6f65b6d4-135b-4653-8f5a-ea1bad5182b7",
      "name": "Reply to a message",
      "webhookId": "b5c9b134-a232-431e-a46f-c9843099c033",
      "credentials": {
        "gmailOAuth2": {
          "id": "ca54UiOkliUj4X0s",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        -368
      ],
      "id": "a7648c60-454b-4a1b-b9d0-ad03e51ebe45",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7f8cbee1-787d-4e2b-b99f-dcb55db0d98f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b61173aac765e807138ce6de7b82945d8473d376aea71894e35d10576a80a87b"
  },
  "id": "zTFN7euH2cbR6jRFfFN4B",
  "tags": []
}